DB_URL=jdbc:postgresql://localhost:5432/fooddelivery
DB_USERNAME=abcom
DB_PASSWORD=
JWT_SECRET=base64-encoded-at-least-32-byte-secret
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5673
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
